{% extends 'base.html' %}

{% block title %}Find a Home{% endblock %}

{% block content %}
<section class="py-4">

    <div class="container ms-auto">
        <h1 class="d-flex justify-content-center">Recommended property listings</h1>
        
        {% for i in rec %}
        <div class="row justify-content-center">
            <div class="mb-3 col-6 text-center">
                <div class="p-2 bd-highlight mx-auto justify-content-center" id="property-listing">

                    <ul>
                        <li>Location: {{i.location}}</li>
                        <li>Number of bedrooms: {{i.bedrooms}}</li>
                        <li>Number of bathrooms: {{i.bathrooms}}</li>
                        <li>Price: {{i.price}}</li>
                    </ul>

                </div>
            </div>
            <div class="mb-3 col-4 text-center my-4">
                <button class="btn btn-primary">View</button>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}