{% extends 'employee/staff-base.html' %}

{% block title %}Property Listings{% endblock %}

{% block content %}
<div class="tbl-summary">
    <table>
        <tr>
            <th>Location</th>
            <th>Bedrooms</th>
            <th>Bathrooms</th>
            <th>Price</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for listing in page_obj %}
        <tr>
            <td>{{listing.location}}</td>
            <td>{{listing.bedrooms}}</td>
            <td>{{listing.bathrooms}}</td>
            <td>{{listing.price}}</td>
            <td>Rented</td>
            <td id="action-btns">
                <button class="btn btn-primary"><a href="{% url 'employee:editProperty' listing.id %}">Edit</a></button>
                <button class="btn btn-danger"><a href="{% url 'employee:deleteProperty' listing.id %}">Delete</a></button>
            </td>
        </tr>
        {% endfor %}
        
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
        </div>
</div>
{% endblock %}