{% extends 'employee/staff-base.html' %}

{% block title %}Property Listings{% endblock %}

{% block content %}
<div class="tbl-summary">
    <table>
        <tr>
            <th>Location</th>
            <th>Bedrooms</th>
            <th>Bathrooms</th>
            <th>Price</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for i in property %}
        <tr>
            <td>{{i.location}}</td>
            <td>{{i.bedrooms}}</td>
            <td>{{i.bathrooms}}</td>
            <td>{{i.price}}</td>
            <td>Rented</td>
            <td id="action-btns">
                <button class="btn btn-primary"><a href="{% url 'employee:editProperty' i.id %}">Edit</a></button>
                <button class="btn btn-danger"><a href="{% url 'employee:deleteProperty' i.id %}">Delete</a></button>
            </td>
        </tr>
        {% endfor %}
        
    </table>
</div>
{% endblock %}