body{
    background-color: #c8c8c8;
}
.form-wrap{
    display: grid;
    grid-template-columns: 40%;
    justify-content: center;
    text-align: center;
}
form{
    background-color: rgb(33, 37, 41, 0.9);
    padding:10%;   
    color:white;
    line-height: 200%;
    border-radius: 4px;

}
.critique-form{
    background-color:#c8c8c8;
    padding-top:2%; 
}
.critique-form input{
    background-color: transparent;
}

.critique-form label{
 text-align: center;
 color: black;
}
input{
    width: 100%;
    border-radius: 4px;
    border:2px;
}
form button{
    margin-top: 5%;
}