.form-wrap{
    display: grid;
    grid-template-columns: 40%;
    justify-content: center;
    text-align: center;
}
form{
    background-color: rgb(33, 37, 41, 0.9);
    padding:5%;
    color:white;
    line-height: 200%;
}
label{
    text-align: center;
}
input{
    width: 100%;
    border-radius: 4px;
}
form button{
    margin-top: 6%;
}